name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build . -t sudharsondocker/next-js-app | tee build-log.txt

    - name: Upload Docker build log
      uses: actions/upload-artifact@v4
      with:
        name: docker-build-log
        path: build-log.txt

    - name: Login to DockerHub
      run: echo "${{secrets.DOCKERHUB_PASSWORD}}" | docker login -u ${{secrets.DOCKERHUB_USERNAME}} --password-stdin 

    - name: Push image
      run: docker push sudharsondocker/next-js-app:latest
